
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;

}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
// ==============fonts======================
$text-bold:'Montserrat1';
$text-thin:'Montserrat2';
$text-Regular:'Montserrat3';
// =================end====================

header{

    overflow: hidden;
    background-color: transparent;
    z-index: 4;
    position: absolute;
    width: 100%;
    height: 12vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    box-sizing: border-box;
    transition: .3s ease-in-out;
    
    img{
        width: 40%;
    }
    .box-one{
        display: none;
        ul{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding: 20px 0px;
            background-color: #E1EFF6;
            li{
                padding: .5rem 1rem;
                .btn1{
                    background-color: white;
                    padding: 2vh;
                    font-family: $text-bold;
                }
                a{
                  
                    color: rgb(0, 0, 0);
                    font-size: 17px;
                    text-decoration: none;
                    text-transform: capitalize;
                    font-size: $text-Regular;
                 
                }
            }
        }

        .icons{
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0px 10px;
            width: 100%;
            padding: 10px 0px;
            background-color:colorType(bg_color_two);
            img{
                margin: 0px 20px;
                width: 8%;
            }
        }
    }

    #menubar{
        width: 20%;
        height: 45px;
        position: relative;
        transform: rotate(0deg);
        transition: .5s ease-in-out;
        cursor: pointer;
        span {
            display: block;
            position: absolute;
            height: 5px;
            width: 80%;
            background: #000000;
            border-radius: 10px;
            opacity: 1;
            left: 0;
            transform: rotate(0deg);
            transition: .25s ease-in-out;
            &:nth-child(1) {
                top: 3px;
                transform-origin: left center;
            }
              
            &:nth-child(2) {
                top: 18px;
                transform-origin: left center;
            }
              
            &:nth-child(3) {
                top: 33px;
                transform-origin: left center;
            }
        }
    
        &.barOpen{
            span{
                background-color: #000000;
                &:nth-child(1){
                    transform: rotate(45deg);
                    top: 4px;
                    left: 8px;
                    width: 70%;
                }
                &:nth-child(2){
                    width: 0%;
                    opacity: 0;
                }
                &:nth-child(3){
                    transform: rotate(-45deg);
                    top: 35px;
                    left: 8px;
                    width: 70%;
                }
            }
        
        }
        
    }

    &.open{
        height: 40vh;
        .box-one{
            display: block;
        }
        #menubar{
            position: absolute;
            right: 2%;
            top: 12%;
        }
    }
    nav{
        display: none;
    }

   
}
// =======hero=====
.hero{
    background-color: #E1EFF6;
    height: 105vh;
    position: relative;
    text-align: left;
    overflow: hidden;
    h1{
        font-family: $text-bold;
        text-align: center;
        font-size: 19px;
        width: 88%;
        margin-left: 2vh;

    }
    .div1{
        padding-top: 20vh;
        ul{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding: 20px 0px;
        
            li{
                // padding: .5rem 1rem;
                .btn1{
                    background-color: white;
                    padding: 2vh;
                    font-family: $text-bold;
                    margin-left: 2vh;
                }
                .btn2{
                    background-color: white;
                    padding: 2vh 5vh;
                    font-family: $text-bold;
                    margin-left: 2vh;
                }
                a{
                  
                    color: rgb(0, 0, 0);
                    font-size: 17px;
                    text-decoration: none;
                    text-transform: capitalize;
                    font-size: $text-Regular;
                 
                }
            }
        }
    }
    .div2{
        img{
            width: 100%;
        }
        .james{
            background-color: white;
            width: 80%;
            position: relative;
            top: -8vh;
            border-radius: 15px;
            margin-left: 5vh;
            margin-bottom: 4vh;
            box-shadow: 0px 0px 5px 5px rgba(170, 170, 170, 0.419);
        h3{
            font-size: 24px;
            font-family: $text-bold;
            padding-left: 2vh;
        }
        p{
            padding: 2vh; 
            span{
                font-family: $text-bold;
            }
        }
      
        }
    }
}
// =======end=======

// =======about======
.about{
    background-color: #E1EFF6;
    height: 160vh;
    text-align: center;
    overflow: hidden;

    h2{
        color: black;
        font-size: 30px;
        text-decoration: none;
        padding-top: 9vh;
        margin-left: 2vh;
        font-family: $text-Regular;

    }
    h3{
        text-align: center;
        font-family: $text-bold;
        padding-bottom: 4vh;
    }
  .cards{
    
      display: block;
      margin: 6vh;
      img{
        position: relative;
        top: -5vh;
        width: 100%;
      }
      .card1{
          background-color: white;
          width: 104%;
          border-radius: 15px;
          box-shadow: 0px 0px 5px 5px rgba(170, 170, 170, 0.419);
          
      }
      .card2{
          background-color: white;
          width: 103%;
        margin-top: 16vh;
        border-radius: 15px;
        box-shadow: 0px 0px 5px 5px rgba(170, 170, 170, 0.419);

      }
  }

   
}
// =======end====

.services{
    overflow: hidden;
    margin-top: 8vh;
    h2{
        padding: 2vh;
        font-family: $text-Regular;
        text-align: center;
    }
    ul{
        // background-color: red;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 20px 0px;
        position: absolute;
        top: 52vh;
        margin-left: 25vh;
         margin-top: -30vh;
        li{
            // padding: .5rem 1rem;
            .btn1{
                background-color: white;
                padding: 2vh;
                font-family: $text-bold;
                margin-left: 2vh;
                border-radius: 10px;
                box-shadow: 0px 0px 5px 5px rgba(170, 170, 170, 0.419);
                box-sizing: border-box;
            }
            a{
               color: black;
                font-size: 17px;
                text-shadow: 2px 2px rgb(104, 95, 95) ;
                text-decoration: none;
                text-transform: capitalize;
                font-size: $text-Regular;
             
            }
        }
    }
    .text{
        margin-top: 6vh;
        span{
            font-family: $text-bold;
        }
    }
    .slick{
img{
    width: 100%;
}
    }
  
    .slick-slide {
        margin: 0px 20px;
      }
}

.join{
    
    background-color: #E1EFF6;
    height: 110vh;
    margin-top: 7vh;
    text-align: center;
    display: flex;
    flex-direction: column-reverse;
    img{
        background-color: transparent;
        width: 100%;
        padding: 3vh;
    }
    .div2{
        margin-bottom: 12vh;
        h3{
            padding: 6vh;
            font-family: $text-bold;
        }
        p{
            padding: 2vh;
        }
        ul{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding: 20px 0px;
            position: absolute;
           
            li{
                .btn1{
                    background-color: white;
                    padding: 2vh;
                    font-family: $text-bold;
                    margin-left: 17vh;
                    border-radius: 10px;
                   
                }
                a{
                  
                    color: rgb(0, 0, 0);
                    font-size: 17px;
                    text-decoration: none;
                    text-transform: capitalize;
                    font-size: $text-Regular;
                 
                }
            }
        }
    }
}

.investor{
    margin-top: 5vh;
    text-align: center;
    overflow: hidden;
   
    .div1{
        p{
            padding: 2vh;
        }
        h2{
            padding: 3vh;
            font-family: $text-bold;
        }
        ul{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding: 20px 0px;
            position: absolute;
            margin-left: 17vh;
            li{
    
                .btn1{
                    background-color: black;
                    padding: 2vh;
                    font-family: $text-bold;
                    margin-left: 2vh;
                    border-radius: 15px;
                    
                }
                a{
                  
                    color: white;
                    font-size: 17px;
                    text-decoration: none;
                    text-transform: capitalize;
                    font-size: $text-Regular;
                 
                }
            }
        }
    }
    .div2{
        margin-top: 19vh;
        padding: 3vh;
    
        img{
            width: 100%;

        }
    }
}

.QUESTIONS{
    overflow: hidden;
    text-align: center;
    padding-bottom: 9vh;
    hr{
      padding: 2px;
      color: black;
      width: 100%;
    }
    .h2{
        padding: 10vh;
        font-size: 20px;
        font-family: $text-bold;
    }
    .read{
        background-color: black;
        color: white;
        padding: 2vh;
        border-radius: 10px;
        box-shadow: 0px 0px 5px 5px rgba(170, 170, 170, 0.419);  
    }

    h2{
        padding: 0;
        font-size: 19px;
    }
    background-color: #E1EFF6;
    // common rule
$color-white:#fff;
@mixin flex( $justify, $align, $dir:row) {
  display:flex;
  flex-direction:$dir;
  justify-content:$justify;
  align-items:$align;
}

.accordion {
  &__container {
    margin-bottom:10px;
    background-repeat:no-repeat;
    padding:1em 2em;
    width:100%;
  }
  &__container:last-type {
    margin-bottom:0;
  }
  &__question__container {
   @include flex(space-between, center);
    margin-bottom:.8em;
  }
  &__question {
    color:black;
  }
  &__btn {
    display:inline-block;
    background:none;
    border:none;
    border-radius:3px;
    color:black;
    cursor:pointer;
    i {
      font-size:1.2em;
      padding:.15em;
    }
  }
  &__answer__container {
    display:none;
  }
}
.active__accordion {
  display:flex;
}

.div2{
    display: none;
}
.div2-open{
    display: block;
}

.startups{
    background-color: #E1EFF6;
    margin-top: 12vh;
    overflow: hidden;
    
   .div1{
       background-color: white;
      i{
        border-radius: 79%;
        padding: 15px;
        border: 2px solid black;
        font-size: 15px;
        position: relative;
        top: -16vh;
        left: -69vh; 
      }

      #img2{
        position: relative;
        top: -16vh;
        left: 69vh;
      }
       }
   }
    
.secondslick{
    margin-top: 100px;

    .div1{
        background-color: white;
        width: 100%;
    }
}
    .slick{
        display: flex;
        justify-content: space-around;
        #div1{
            width:31%;
            
    
        }  #div2{
            width: 61%;
            
    
        }
        #div3{
            width: 31%;
        
    
        }
    }
    .slick-slide img {
        display: initial;
    }
  

   
}



footer{
 
    background-color: black;
    color:white;
    text-align: center;
    display: block;
    padding: 0;
    overflow: hidden;
    div{
        display: block;
        p{
            font-size: 13px;
            margin-bottom: 0;
        }
    }
    hr{
        display: none;
    }
}





@media(min-width:768px){
    header{
        img{
            width: 16%;
        }
        #menubar {
            display: none;
        }
        nav{
            display: block;
            ul{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                padding: 20px 0px;
                li{
                    padding: .5rem 1rem;
                    .btn1{
                        background-color: white;
                        padding: 2vh;
                    } .btn2{
                        background-color: white;
                        padding: 2vh;
                    }

                    a{
                      
                        color: rgb(0, 0, 0);
                        font-size: 24px;
                        text-decoration: none;
                        text-transform: capitalize;
                     
                    }
                }
            }
        }
    }
    
    .hero{
        display: flex;
        height: 63vh;
    
    .div1{
        padding-top: 26vh;
        width: 63%;
        margin-left: 2vh;
        h1{
            font-size: 26px;
            text-align: left;
        }
        ul{
            border-radius: 15px;
           li{
            .btn2{
                padding: 2vh 2vh;
            }
           }
        }
    }
    .div2{
        padding-top: 20vh;
        .james{
            background-color: white;
            width: 66%;
            position: relative;
            top: -7vh;
            border-radius: 15px;
            margin-left: 12vh;
            margin-bottom: 7vh;
            h3{
                font-size: 32px;
                padding-left: 2vh;
            }
            p{
                font-size: 24px;
                padding: 1vh;
            }
        }
    }
    }
.about{
    background-color: #E1EFF6;
    height: 66vh;
 
    h2{
        color: black;
        font-size: 44px;
        text-decoration: none;
        padding-top: 12vh;
        margin-left: 2vh;
        text-align: left;

    }
  .cards{
      display: flex;
      margin: 0;
      margin-top: 5vh;
      .card1{
          background-color: white;
          width: 34%;
          margin-left: 4vh;
          margin-top: 5vh;
          border-radius: 15px;
          box-shadow: 0px 0px 5px 5px rgba(170, 170, 170, 0.419);

           img{
            position: relative;
            top: -3vh;
            width: 100%;
          }

    
      }
      .card2{
          margin-left: 16vh;
          background-color: white;
          width: 33%;
          margin-top: 5vh;
          border-radius: 15px;
          box-shadow: 0px 0px 5px 5px rgba(170, 170, 170, 0.419);
          img{
            position: relative;
            top: -5vh;
          }
      }
  }

   
}

.services{
    h1{
        font-size: 35px;
        padding: 1vh;
    }
    p{
        font-size: 22px;
    }
}
.services ul li .btn1 {
    background-color: white;
    padding: 2vh;
    font-family: "Montserrat1";
    margin-left: -7vh;
  
}
    .join{
        display: flex;
         height: 50vh;
         flex-direction: row;
      .div1{
          width: 50%;
        

      }
        .div2{
            width: 50%;
            margin-top: 15vh;
            margin-left: 3vh;
            h3{
                padding: 0;
            }
            li{
                .btn1{
                    margin-left: -1vh;
                }
            }
            p{
                font-size: 24px;
            }
        }
    }

.investor{
        display: flex;
       
        .div1{
            margin-left: 2vh;
            margin-top: 12vh;
            h2{
                padding: 0;
            }
            p{
                font-size: 24px;
            }
        }
        .div1 ul li .btn1 {
            margin-left: -17vh;
        }
        .div2{
            margin-top: 1vh;
        }
      
        
    }
    .QUESTIONS{
        .h2{
            font-size: 31px;
        }
        h2{
            padding: 0;
        }
        p{
            font-size: 26px;
        }
        main{
            display: flex;
            width: 100%;
            margin-bottom: 10vh;
            .div1{
                width: 45%;
            }
            .div2{
                width: 45%;
                display: block;
            }
            button{
                display: none;
            }
        }
    }
    footer{
        padding: 13vh;
        .div1{
            display: flex;
            div{
                width: 70%;
                p{
                    font-size: 19px;
                }
            }
        }
        .div2{
            margin-top: 4vh;
            display: flex;
            margin-left: 15vh;
            p{

               font-size: 20px;
            margin-left: 2vh;}
        }
    }
}
        




@media(min-width :1265px){ 

 header{
    padding: 0px 46px;
        #menubar {
            display: none;
        }
        nav{
            display: block;
            ul{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                padding: 20px 0px;
                font-family: $text-Regular;
                li{
                    padding: .5rem 1rem;
                    .btn1{
                        background-color: white;
                        padding: 2vh;
                        font-family:$text-bold ;
                    }
                    a{
                      
                        color: rgb(0, 0, 0);
                        font-size: 25px;
                        text-decoration: none;
                        text-transform: capitalize;
                     
                    }
                }
            }
        }
    }
.hero{
    display: flex;
    justify-content: space-between;
    height: 102vh;
    .div1{
       width: 63%;
       padding-top: 28vh;
        h1{
            font-size: 59px;
            text-align: left;
            margin-left: 4vh;
            width: 100%;
        }
        ul{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding: 65px 0px;
            margin-left: -41vh;
        
            li{
               
                .btn1{
                    margin-left: 21vh 
                
                }
                 .btn2{
                    margin-left: 10vh 
                }

                a{
                  
                    color: rgb(0, 0, 0);
                    font-size: 26px;
                    text-decoration: none;
                    text-transform: capitalize;
                    font-size: $text-Regular;

                    .fa{
                        font-size: 21px;
                        padding-left: 2vh;
                        font-weight: bold;
                    }
                 
                }
            }
        }
       
    }
    .div2{  
          padding-top: 16vh;
          width: 80%;
        
        .james{
             background-color: white;
             width: 39%;
             position: relative;
             top: -17vh;
             border-radius: 15px;
             margin-left: 56vh;
            h3{
                padding-top: 1vh;
                font-size: 32px;
            }
            p{
                font-size: 23px;
              
            }
        }
    }
}
.about{
    height: 95vh;
    h3{
        font-size: 28px;
    }
    h2{
        font-size: 51px;
        padding-bottom: 0;
        text-align: left;
        padding-top: 6vh;
        margin-left: 5vh;
    }
    .cards{
        margin-top: 11vh;
        .card1{
            margin-left: 31vh;
            width: 28%;
            img{
               top: -6vh;
               width: 100%;
            }
        }
        .card2{
            width: 27%;
            img{
            width: 100%;
            }
        }
    }
}
.services{
    p{
        margin-left: 16px;
    }
    .firstslick{
        margin-left: 9vh;
        width: 205vh;
    }
    h2{
        font-size: 51px;
        padding: 6vh;
        margin-left: -35vh;
    }
    margin-top: 7vh;
    ul{
        top: 34vh;
        li{
        
                .fa{padding-left: 5vh;
                    font-size: 24px;

                }
            
        }
    }
 .slick{
     margin-left: 2vh;
    .img{
        margin-left: 2vh;
    }
 }
}
.services ul li .btn1 {
    background-color: white;
    padding: 2vh;
    font-family: "Montserrat1";
    position: relative;
    margin-left: 8vh;
    font-size: 24px;
    position: relative;
   top: 34vh;
   .fa{
       font-weight: bold;
       font-size: 27px;
   }

}

.investor{
    margin-top: 54vh;
    .div1{
        width: 50%;
     
        p{
            font-size: 30px;
        }
    }
    .div2{
        width: 50%;
    }
}.investor .div2 img {
    width: 100%;
    margin-top: 18vh;
}

.join{
    height: 91vh;
    margin-top: 16vh;
    img{
        position: relative;
        margin-top: -7vh;
        padding: 0;
        margin-left: 6vh;

    }
    #img1{
        width: 20%;
    }
  
    .div2{
        margin-top: 33vh;
        margin-left: 10vh;
        text-align: left;
        h3{
            font-size: 41px;
        }
        p{
            font-size: 32px;
            padding: 0;
        }
        .fa{
            padding-left: 18px;
              font-size: 29px;
        }
     
    }
}
.join .div2 ul li .btn1 {
    background-color: white;
    padding: 2vh;
    font-size: 25px;
    font-family: "Montserrat1";
    border-radius: 0px;
    margin-left: 0;
}
.investor{
    margin-top: -11vh;
    margin-bottom: 11vh;
    text-align: left;
    .div1{
        margin-top: 57vh;
        margin-left: 11vh;
        width: 50%;
        h2{
        font-size: 41px;
        }
        p{
            font-size: 32px;
            width: 90%;
            padding: 0;
        }
    
         ul li .btn1 {
            background-color: black;
            padding: 2vh;
            font-family: "Montserrat1";
            margin-left: -16vh;
            border-radius: 1px;
            font-size: 25px;
            .fa{
                padding-left: 18px;
                  font-size: 29px;
            }
        }
    }

    .div2{
        width: 54%;
        padding: 0;
        margin-right: 8vh;
    }
  
}
.QUESTIONS{
    .div2{
        width: 45%;
        display: block;
    }
  
   .startups{
    
       .div1{
           padding: 4% 12%;
           h3{
        
            font-size: 41px; 
           }
       }
   } 

     .startups i {
    border-radius: 79%;
    padding: 15px;
    border: 2px solid black;
    font-size: 15px;
    position: relative;
    top: -23vh;
    left: -66vh;
}

.startups #img2 {
    position: relative;
    top: -23vh;
    left: 66vh;
}
.startups #div3 {
    width: 25%;
   margin-bottom: 6vh;
}
}

.QUESTIONS{
    .h2{
        font-size: 41px;
        padding: 0;
        padding-top: 19vh;
    }
    main{
        display: flex;
        width: 100%;
        margin: 9vh;
        h2{
            font-size: 26px;
        }
        .div1{
            width: 45%;
            
        }
        .div2{
            width: 45%;
        }
    }
}

footer{
    padding-bottom: 31px;
    
   
.div2{
    margin-left: 7vh;
    display: flex;
     justify-content: center;
    p{
        font-size: 20px;
        margin-left: 20px;
        margin-top: 3vh;
        margin-bottom: 0;
    }
    img{
        height: 12%;
        margin-top: 24px;
        margin-right: 11px;
    }

    hr{
        width: 5px;
        color: white;
        height: 48px;
        opacity: 1;
    }
}
}

}