html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

header {
  overflow: hidden;
  background-color: transparent;
  z-index: 4;
  position: absolute;
  width: 100%;
  height: 12vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

header img {
  width: 40%;
}

header .box-one {
  display: none;
}

header .box-one ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 0px;
  background-color: #E1EFF6;
}

header .box-one ul li {
  padding: .5rem 1rem;
}

header .box-one ul li .btn1 {
  background-color: white;
  padding: 2vh;
  font-family: "Montserrat1";
}

header .box-one ul li a {
  color: black;
  font-size: 17px;
  text-decoration: none;
  text-transform: capitalize;
  font-size: "Montserrat3";
}

header .box-one .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0px 10px;
  width: 100%;
  padding: 10px 0px;
  background-color: colorType(bg_color_two);
}

header .box-one .icons img {
  margin: 0px 20px;
  width: 8%;
}

header #menubar {
  width: 20%;
  height: 45px;
  position: relative;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

header #menubar span {
  display: block;
  position: absolute;
  height: 5px;
  width: 80%;
  background: #000000;
  border-radius: 10px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

header #menubar span:nth-child(1) {
  top: 3px;
  -webkit-transform-origin: left center;
          transform-origin: left center;
}

header #menubar span:nth-child(2) {
  top: 18px;
  -webkit-transform-origin: left center;
          transform-origin: left center;
}

header #menubar span:nth-child(3) {
  top: 33px;
  -webkit-transform-origin: left center;
          transform-origin: left center;
}

header #menubar.barOpen span {
  background-color: #000000;
}

header #menubar.barOpen span:nth-child(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 4px;
  left: 8px;
  width: 70%;
}

header #menubar.barOpen span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

header #menubar.barOpen span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 35px;
  left: 8px;
  width: 70%;
}

header.open {
  height: 40vh;
}

header.open .box-one {
  display: block;
}

header.open #menubar {
  position: absolute;
  right: 2%;
  top: 12%;
}

header nav {
  display: none;
}

.hero {
  background-color: #E1EFF6;
  height: 105vh;
  position: relative;
  text-align: left;
  overflow: hidden;
}

.hero h1 {
  font-family: "Montserrat1";
  text-align: center;
  font-size: 19px;
  width: 88%;
  margin-left: 2vh;
}

.hero .div1 {
  padding-top: 20vh;
}

.hero .div1 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 0px;
}

.hero .div1 ul li .btn1 {
  background-color: white;
  padding: 2vh;
  font-family: "Montserrat1";
  margin-left: 2vh;
}

.hero .div1 ul li .btn2 {
  background-color: white;
  padding: 2vh 5vh;
  font-family: "Montserrat1";
  margin-left: 2vh;
}

.hero .div1 ul li a {
  color: black;
  font-size: 17px;
  text-decoration: none;
  text-transform: capitalize;
  font-size: "Montserrat3";
}

.hero .div2 img {
  width: 100%;
}

.hero .div2 .james {
  background-color: white;
  width: 80%;
  position: relative;
  top: -8vh;
  border-radius: 15px;
  margin-left: 5vh;
  margin-bottom: 4vh;
  -webkit-box-shadow: 0px 0px 5px 5px rgba(170, 170, 170, 0.419);
          box-shadow: 0px 0px 5px 5px rgba(170, 170, 170, 0.419);
}

.hero .div2 .james h3 {
  font-size: 24px;
  font-family: "Montserrat1";
  padding-left: 2vh;
}

.hero .div2 .james p {
  padding: 2vh;
}

.hero .div2 .james p span {
  font-family: "Montserrat1";
}

.about {
  background-color: #E1EFF6;
  height: 160vh;
  text-align: center;
  overflow: hidden;
}

.about h2 {
  color: black;
  font-size: 30px;
  text-decoration: none;
  padding-top: 10vh;
  margin-left: 2vh;
  font-family: "Montserrat3";
}

.about h3 {
  text-align: center;
  font-family: "Montserrat1";
  padding-bottom: 4vh;
}

.about .cards {
  display: block;
  margin: 6vh;
}

.about .cards img {
  position: relative;
  top: -5vh;
  width: 100%;
}

.about .cards .card1 {
  background-color: white;
  width: 104%;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 5px 5px rgba(170, 170, 170, 0.419);
          box-shadow: 0px 0px 5px 5px rgba(170, 170, 170, 0.419);
}

.about .cards .card2 {
  background-color: white;
  width: 103%;
  margin-top: 16vh;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 5px 5px rgba(170, 170, 170, 0.419);
          box-shadow: 0px 0px 5px 5px rgba(170, 170, 170, 0.419);
}

.services {
  overflow: hidden;
  margin-top: 8vh;
}

.services h2 {
  padding: 2vh;
  font-family: "Montserrat3";
  text-align: center;
}

.services ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 0px;
  position: absolute;
  top: 52vh;
  margin-left: 25vh;
  margin-top: -30vh;
}

.services ul li .btn1 {
  background-color: white;
  padding: 2vh;
  font-family: "Montserrat1";
  margin-left: 2vh;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 5px 5px rgba(170, 170, 170, 0.419);
          box-shadow: 0px 0px 5px 5px rgba(170, 170, 170, 0.419);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.services ul li a {
  color: black;
  font-size: 17px;
  text-decoration: none;
  text-transform: capitalize;
  font-size: "Montserrat3";
}

.services .text {
  margin-top: 6vh;
}

.services .text span {
  font-family: "Montserrat1";
}

.services .slick img {
  width: 100%;
}

.services .slick-slide {
  margin: 0px 20px;
}

.join {
  overflow: hidden;
  background-color: #E1EFF6;
  height: 110vh;
  margin-top: 7vh;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.join img {
  background-color: transparent;
  width: 100%;
  padding: 3vh;
}

.join .div2 {
  margin-bottom: 12vh;
}

.join .div2 h3 {
  padding: 6vh;
  font-family: "Montserrat1";
}

.join .div2 p {
  padding: 2vh;
}

.join .div2 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 0px;
  position: absolute;
}

.join .div2 ul li .btn1 {
  background-color: white;
  padding: 2vh;
  font-family: "Montserrat1";
  margin-left: 17vh;
  border-radius: 10px;
}

.join .div2 ul li a {
  color: black;
  font-size: 17px;
  text-decoration: none;
  text-transform: capitalize;
  font-size: "Montserrat3";
}

.investor {
  margin-top: 5vh;
  text-align: center;
  overflow: hidden;
}

.investor .div1 p {
  padding: 2vh;
}

.investor .div1 h2 {
  padding: 3vh;
  font-family: "Montserrat1";
}

.investor .div1 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 0px;
  position: absolute;
  margin-left: 17vh;
}

.investor .div1 ul li .btn1 {
  background-color: black;
  padding: 2vh;
  font-family: "Montserrat1";
  margin-left: 2vh;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 5px 5px rgba(170, 170, 170, 0.419);
          box-shadow: 0px 0px 5px 5px rgba(170, 170, 170, 0.419);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.investor .div1 ul li a {
  color: white;
  font-size: 17px;
  text-decoration: none;
  text-transform: capitalize;
  font-size: "Montserrat3";
}

.investor .div2 {
  margin-top: 19vh;
  padding: 3vh;
}

.investor .div2 img {
  width: 100%;
}

.QUESTIONS {
  overflow: hidden;
  text-align: center;
  padding-bottom: 9vh;
  background-color: #E1EFF6;
}

.QUESTIONS hr {
  padding: 2px;
  color: black;
  width: 100%;
}

.QUESTIONS .h2 {
  padding: 10vh;
  font-size: 20px;
  font-family: "Montserrat1";
}

.QUESTIONS .read {
  background-color: black;
  color: white;
  padding: 2vh;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 5px 5px rgba(170, 170, 170, 0.419);
          box-shadow: 0px 0px 5px 5px rgba(170, 170, 170, 0.419);
}

.QUESTIONS h2 {
  padding: 0;
  font-size: 19px;
}

.QUESTIONS .accordion__container {
  margin-bottom: 10px;
  background-repeat: no-repeat;
  padding: 1em 2em;
  width: 100%;
}

.QUESTIONS .accordion__container:last-type {
  margin-bottom: 0;
}

.QUESTIONS .accordion__question__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: .8em;
}

.QUESTIONS .accordion__question {
  color: black;
}

.QUESTIONS .accordion__btn {
  display: inline-block;
  background: none;
  border: none;
  border-radius: 3px;
  color: black;
  cursor: pointer;
}

.QUESTIONS .accordion__btn i {
  font-size: 1.2em;
  padding: .15em;
}

.QUESTIONS .accordion__answer__container {
  display: none;
}

.QUESTIONS .active__accordion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.QUESTIONS .div2 {
  display: none;
}

.QUESTIONS .div2-open {
  display: block;
}

.QUESTIONS .startups {
  background-color: #E1EFF6;
  margin-top: 12vh;
  overflow: hidden;
}

.QUESTIONS .startups .div1 {
  background-color: white;
}

.QUESTIONS .startups .div1 i {
  border-radius: 79%;
  padding: 15px;
  border: 2px solid black;
  font-size: 15px;
  position: relative;
  top: -16vh;
  left: -69vh;
}

.QUESTIONS .startups .div1 #img2 {
  position: relative;
  top: -16vh;
  left: 69vh;
}

.QUESTIONS .secondslick {
  margin-top: 100px;
}

.QUESTIONS .secondslick .div1 {
  background-color: white;
  width: 100%;
}

.QUESTIONS .slick {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.QUESTIONS .slick #div1 {
  width: 31%;
}

.QUESTIONS .slick #div2 {
  width: 61%;
}

.QUESTIONS .slick #div3 {
  width: 31%;
}

.QUESTIONS .slick-slide img {
  display: initial;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  display: block;
  padding: 0;
  overflow: hidden;
}

footer div {
  display: block;
}

footer div p {
  font-size: 13px;
  margin-bottom: 0;
}

@media (min-width: 768px) {
  header img {
    width: 16%;
  }
  header #menubar {
    display: none;
  }
  header nav {
    display: block;
  }
  header nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 20px 0px;
  }
  header nav ul li {
    padding: .5rem 1rem;
  }
  header nav ul li .btn1 {
    background-color: white;
    padding: 2vh;
  }
  header nav ul li .btn2 {
    background-color: white;
    padding: 2vh;
  }
  header nav ul li a {
    color: black;
    font-size: 24px;
    text-decoration: none;
    text-transform: capitalize;
  }
  .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 63vh;
  }
  .hero .div1 {
    padding-top: 26vh;
    width: 63%;
    margin-left: 2vh;
  }
  .hero .div1 h1 {
    font-size: 26px;
    text-align: left;
  }
  .hero .div1 ul {
    border-radius: 15px;
  }
  .hero .div1 ul li .btn2 {
    padding: 2vh 2vh;
  }
  .hero .div2 {
    padding-top: 20vh;
  }
  .hero .div2 .james {
    background-color: white;
    width: 66%;
    position: relative;
    top: -7vh;
    border-radius: 15px;
    margin-left: 12vh;
    margin-bottom: 7vh;
  }
  .hero .div2 .james h3 {
    font-size: 32px;
    padding-left: 2vh;
  }
  .hero .div2 .james p {
    font-size: 24px;
    padding: 1vh;
  }
  .about {
    background-color: #E1EFF6;
    height: 66vh;
  }
  .about h2 {
    color: black;
    font-size: 44px;
    text-decoration: none;
    padding-top: 12vh;
    margin-left: 2vh;
    text-align: left;
  }
  .about .cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    margin-top: 5vh;
  }
  .about .cards .card1 {
    background-color: white;
    width: 34%;
    margin-left: 4vh;
    margin-top: 5vh;
    border-radius: 15px;
    -webkit-box-shadow: 0px 0px 5px 5px rgba(170, 170, 170, 0.419);
            box-shadow: 0px 0px 5px 5px rgba(170, 170, 170, 0.419);
  }
  .about .cards .card1 img {
    position: relative;
    top: -3vh;
    width: 100%;
  }
  .about .cards .card2 {
    margin-left: 16vh;
    background-color: white;
    width: 33%;
    margin-top: 5vh;
    border-radius: 15px;
    -webkit-box-shadow: 0px 0px 5px 5px rgba(170, 170, 170, 0.419);
            box-shadow: 0px 0px 5px 5px rgba(170, 170, 170, 0.419);
  }
  .about .cards .card2 img {
    position: relative;
    top: -5vh;
  }
  .services h1 {
    font-size: 35px;
    padding: 1vh;
  }
  .services p {
    font-size: 22px;
  }
  .services ul li .btn1 {
    background-color: white;
    padding: 2vh;
    font-family: "Montserrat1";
    margin-left: -7vh;
  }
  .join {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 50vh;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .join .div1 {
    width: 50%;
  }
  .join .div2 {
    width: 50%;
    margin-top: 15vh;
    margin-left: 3vh;
  }
  .join .div2 h3 {
    padding: 0;
  }
  .join .div2 li .btn1 {
    margin-left: -1vh;
  }
  .join .div2 p {
    font-size: 24px;
  }
  .investor {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .investor .div1 {
    margin-left: 2vh;
    margin-top: 12vh;
  }
  .investor .div1 h2 {
    padding: 0;
  }
  .investor .div1 p {
    font-size: 24px;
  }
  .investor .div1 ul li .btn1 {
    margin-left: -17vh;
  }
  .investor .div2 {
    margin-top: 1vh;
  }
  .QUESTIONS .h2 {
    font-size: 31px;
  }
  .QUESTIONS h2 {
    padding: 0;
  }
  .QUESTIONS p {
    font-size: 26px;
  }
  .QUESTIONS main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-bottom: 10vh;
  }
  .QUESTIONS main .div1 {
    width: 45%;
  }
  .QUESTIONS main .div2 {
    width: 45%;
    display: block;
  }
  .QUESTIONS main button {
    display: none;
  }
  footer {
    padding: 13vh;
  }
  footer .div1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer .div1 div {
    width: 70%;
  }
  footer .div1 div p {
    font-size: 19px;
  }
  footer .div2 {
    margin-top: 4vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 15vh;
  }
  footer .div2 p {
    font-size: 20px;
    margin-left: 2vh;
  }
}

@media (min-width: 1265px) {
  header {
    padding: 0px 46px;
  }
  header #menubar {
    display: none;
  }
  header nav {
    display: block;
  }
  header nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 20px 0px;
    font-family: "Montserrat3";
  }
  header nav ul li {
    padding: .5rem 1rem;
  }
  header nav ul li .btn1 {
    background-color: white;
    padding: 2vh;
    font-family: "Montserrat1";
  }
  header nav ul li a {
    color: black;
    font-size: 25px;
    text-decoration: none;
    text-transform: capitalize;
  }
  .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 102vh;
  }
  .hero .div1 {
    width: 63%;
    padding-top: 28vh;
  }
  .hero .div1 h1 {
    font-size: 59px;
    text-align: left;
    margin-left: 4vh;
    width: 100%;
  }
  .hero .div1 ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 65px 0px;
    margin-left: -41vh;
  }
  .hero .div1 ul li .btn1 {
    margin-left: 21vh;
  }
  .hero .div1 ul li .btn2 {
    margin-left: 10vh;
  }
  .hero .div1 ul li a {
    color: black;
    font-size: 26px;
    text-decoration: none;
    text-transform: capitalize;
    font-size: "Montserrat3";
  }
  .hero .div1 ul li a .fa {
    font-size: 21px;
    padding-left: 2vh;
    font-weight: bold;
  }
  .hero .div2 {
    padding-top: 16vh;
    width: 80%;
  }
  .hero .div2 .james {
    background-color: white;
    width: 37%;
    position: relative;
    top: -20vh;
    border-radius: 15px;
    margin-left: 58vh;
  }
  .hero .div2 .james h3 {
    padding-top: 3vh;
    font-size: 32px;
  }
  .hero .div2 .james p {
    font-size: 23px;
    padding-bottom: 4vh;
  }
  .about {
    height: 95vh;
  }
  .about h3 {
    font-size: 28px;
  }
  .about h2 {
    font-size: 51px;
    padding-bottom: 0;
    text-align: left;
    padding-top: 2vh;
    margin-left: 5vh;
  }
  .about .cards {
    margin-top: 11vh;
  }
  .about .cards .card1 {
    margin-left: 31vh;
    width: 28%;
  }
  .about .cards .card1 img {
    top: -6vh;
    width: 100%;
  }
  .about .cards .card2 {
    width: 27%;
  }
  .about .cards .card2 img {
    width: 100%;
  }
  .services {
    margin-top: 7vh;
  }
  .services .firstslick {
    margin-left: 9vh;
    width: 205vh;
  }
  .services h2 {
    font-size: 51px;
    padding: 6vh;
    margin-left: -35vh;
  }
  .services ul {
    top: 34vh;
  }
  .services ul li .fa {
    padding-left: 5vh;
    font-size: 24px;
  }
  .services .slick {
    margin-left: 2vh;
  }
  .services .slick .img {
    margin-left: 2vh;
  }
  .services ul li .btn1 {
    background-color: white;
    padding: 2vh;
    font-family: "Montserrat1";
    position: relative;
    margin-left: 8vh;
    font-size: 24px;
    position: relative;
    top: 34vh;
  }
  .services ul li .btn1 .fa {
    font-weight: bold;
    font-size: 27px;
  }
  .investor {
    margin-top: 54vh;
  }
  .investor .div1 {
    width: 50%;
  }
  .investor .div1 p {
    font-size: 30px;
  }
  .investor .div2 {
    width: 50%;
  }
  .investor .div2 img {
    width: 100%;
    margin-top: 18vh;
  }
  .join {
    height: 91vh;
    margin-top: 16vh;
  }
  .join img {
    position: relative;
    margin-top: -7vh;
    padding: 0;
    margin-left: 6vh;
  }
  .join #img1 {
    width: 20%;
  }
  .join .div2 {
    margin-top: 33vh;
    margin-left: 10vh;
    text-align: left;
  }
  .join .div2 h3 {
    font-size: 41px;
  }
  .join .div2 p {
    font-size: 32px;
    padding: 0;
  }
  .join .div2 .fa {
    padding-left: 18px;
    font-size: 29px;
  }
  .join .div2 ul li .btn1 {
    background-color: white;
    padding: 2vh;
    font-size: 25px;
    font-family: "Montserrat1";
    border-radius: 0px;
    margin-left: 0;
  }
  .investor {
    margin-top: -11vh;
    margin-bottom: 11vh;
    text-align: left;
  }
  .investor .div1 {
    margin-top: 57vh;
    margin-left: 11vh;
    width: 50%;
  }
  .investor .div1 h2 {
    font-size: 41px;
  }
  .investor .div1 p {
    font-size: 32px;
    width: 90%;
    padding: 0;
  }
  .investor .div1 ul li .btn1 {
    background-color: black;
    padding: 2vh;
    font-family: "Montserrat1";
    margin-left: -16vh;
    border-radius: 1px;
    font-size: 25px;
  }
  .investor .div1 ul li .btn1 .fa {
    padding-left: 18px;
    font-size: 29px;
  }
  .investor .div2 {
    width: 54%;
    padding: 0;
    margin-right: 8vh;
  }
  .QUESTIONS .div2 {
    width: 45%;
    display: block;
  }
  .QUESTIONS .startups .div1 h3 {
    padding: 6vh;
    font-size: 41px;
  }
  .QUESTIONS .startups i {
    border-radius: 79%;
    padding: 15px;
    border: 2px solid black;
    font-size: 15px;
    position: relative;
    top: -14vh;
    left: -74vh;
  }
  .QUESTIONS .startups #img2 {
    position: relative;
    top: -14vh;
    left: 69vh;
  }
  .QUESTIONS .startups #div3 {
    width: 25%;
    margin-bottom: 6vh;
  }
  .QUESTIONS .h2 {
    font-size: 41px;
    padding: 0;
    padding-top: 19vh;
  }
  .QUESTIONS main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin: 9vh;
  }
  .QUESTIONS main h2 {
    font-size: 26px;
  }
  .QUESTIONS main .div1 {
    width: 45%;
  }
  .QUESTIONS main .div2 {
    width: 45%;
  }
  footer .div2 {
    margin-left: 55vh;
  }
  footer .div2 p {
    font-size: 20px;
    margin-left: 20px;
    margin-top: 1vh;
    margin-bottom: 0;
  }
}
/*# sourceMappingURL=style.css.map */